{% extends 'base.html.twig' %}

{% block title %}Category{% endblock %}

{% block body %}
<div class="flex min-h-screen bg-[#161616] text-white">
    {{ include('feed/_sidenav.html.twig') }}

     <main class="flex-1 p-10">
        <h1 class="text-3xl font-bold mb-8">{{category.name}} feed</h1>

        <div class="grid gap-6">
            {% if category.links is not empty %}
                {% for link in category.links %}
                    <div class="bg-[#1e1e1e] border border-gray-700 rounded-xl p-6 shadow-md shadow-black/20 text-gray-300">
                        <h2 class="text-xl font-semibold mb-2">{{ link.title }}</h2>
                        <p>{{ link.description }}</p>
                        <a href="{{ link.url }}" class="text-blue-500 hover:underline">Read more</a>
                    </div>
                {% endfor %}
            {% else %}
            <div class="bg-[#1e1e1e] border border-gray-700 rounded-xl p-6 shadow-md shadow-black/20 text-gray-300">
                <h2 class="text-xl font-semibold mb-2">Feed is empty</h2>
                <p>Add a new link to gather your post ! </p>
                <a href="{{ path('app_link_new') }}" class="text-blue-500 hover:underline">Add a new link</a>
            </div>
            {% endif %}
        </div>
    </main>
</div>

{% endblock %}
