<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-[#161616]">
         <nav class="flex justify-between items-center px-6 py-2 mx-auto mt-4 max-w-5xl bg-[#1e1e1e] border border-gray-700 shadow-md shadow-black/30 backdrop-blur-md rounded-full text-white">

            <div class="text-lg font-bold tracking-wide">
                <a href="{{ path('app_home') }}">Centralinks</a>
            </div>

            <ul class="flex space-x-6 text-sm font-medium">
                <li><a href="{{ path('app_home') }}" class="hover:text-yellow-400 transition">Home</a></li>
                <li><a href="#" class="hover:text-yellow-400 transition">About</a></li>
                <li><a href="#" class="hover:text-yellow-400 transition">Contact</a></li>
            </ul>
   
            <div class="flex space-x-4 text-sm font-medium items-center">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="hover:text-yellow-400 transition">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="hover:text-yellow-400 transition">Login</a>
                    <a href="{{ path('app_register') }}" class="bg-yellow-400 text-black px-4 py-1 rounded-full hover:bg-yellow-500 transition">
                        Sign up
                    </a>
                {% endif %}
            </div>
        </nav>


        {% block body %}{% endblock %}

         <footer class="mt-24 text-center text-sm text-gray-600">
        © {{ "now"|date("Y") }} Centralinks. Built with ❤️ in Symfony.
    </footer>
    </body>
</html>
