<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg-[#161616]">
         <nav class="flex justify-between items-center p-4 mx-24 mt-4 bg-gray-700 backdrop-blur-none rounded-full text-white">
            <div>
            <!-- Logo or Brand Name -->
                {# <a href="{{ path('app_home') }}">
                    <img src="{{ asset('images/logo.png') }}" alt="Logo" />
                </a> #}
                <h1>Centralinks</h1>
            </div>
            <ul class="flex space-x-4">
                <li><a href="{{ path('app_home') }}">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <div>
                {% if app.user %}
                    <a href="{{ path('app_logout') }}">Logout</a>
                {% else %}
                    <a href="{{ path('app_login') }}">Login</a>
                    <a href="{{ path('app_register') }}">Sign up</a>
                {% endif %}
            </div>
         </nav>
        {% block body %}{% endblock %}
    </body>
</html>
